scaffold-op/
liquid_domains_env/
node_modules/
.ipynb_checkpoints/
smart-contract-examples/
erc_721_remix/
notes/
metadata.db
.env
*.pkl
remix_liquid_domains_launch.zip
remix_chainlinkFunctions_launch.zip
notebooks/
chainlink-external-adapter/
chainlink-optimism-sepolia/
liquid_domains-config.json
node_modules
