scaffold-op/
liquid_domains_env/
node_modules/
.ipynb_checkpoints/
smart-contract-examples/
erc_721_remix/
notes/deployed_addresses.txt
notes/chainlink_secrets.txt
notes/npx_variables.txt
notes/goldsky_config.txt
metadata.db
.env
*.pkl